* {
  margin: 0px;
  padding: 0px;
}

body {
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
  
}

h1 {
  text-align: center;
}

hr {
  margin-top: 5%;
}

.replies {
  margin-left: 50px;
}

.reply {
  border: 1px dotted black;
  margin: 5px;
  padding: 5px;
}

.newReply {
  margin: 10px 5px 10px 5px;
}

.thread {
  border: 2px solid black;
  padding: 5px;
  margin-bottom: 5px;
}

.id {
  font-size: 10.5px;
}

#userstories {
  margin-top: 5%;
}

#sectionThreads, #sectionReplies {
  display: flex;
  justify-content: space-around;
}

#submitNewThread {
  margin: 50px;
}